.footer-ie4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 24px;
  background-color: rgb(247, 247, 247);
  /* border-top: 1px solid rgb(221, 221, 221); */
}

.footer-hr0 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-hr0.product-page {
  max-width: 1200px;
}

.footer-la1 {
display: block;
height: 18px;
width: 18px;
fill: #222222;

}

.footer-hq7: {
  font-size: 16px;
  color: #222222;
}
