.footer-ie4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 24px;
  background-color: rgb(247, 247, 247);
  /* border-top: 1px solid rgb(221, 221, 221); */
}

.footer-hr0 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-hr0.product-page {
  max-width: 1200px;
}

.footer-la1 {
display: block;
height: 18px;
width: 18px;
fill: #222222;

}

.footer-hq7: {
  font-size: 16px;
  color: #222222;
}





.footer-dw1 {
  min-height: 50px;
}

.footer-yu6 {
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  fill: #4D6BC6;
  background-color: #D7E6F5;
}

.footer-ze6 {
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  fill: #D7E6F5;
}



.footer-ty2 {
  height: 30px;
  display: block;
  width: 100%;
}

.footer-gf2 {
  transform: rotate(180deg);
  height: 24px;
  display: block;
  width: 100%;

}

.footer-bs2 {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D6BC6;
  color: white;
  font-size: 16px;
  font-weight: 500;

}



.footer-ds2 {
  padding: 36px 24px 0px 24px;
  text-align: center;
}

.footer-hy6 {
  margin-bottom: 18px;
}

.footer-iz9 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer-ca8 {
  max-width: 480px;
  margin: 0 auto;
}

.footer-bc8 {
  margin: 0 auto;
  margin-top: 0px;
}

.footer-kx2 {
  position: relative;
  display: flex;
  border-radius: 96px;
  box-shadow: 1px 2px 4px 0 rgba(14, 14, 14, .0901960784) inset;
  background: #fff;
}

.footer-sg1 {
  transition: border 200ms ease-out, background 200ms ease-out;
  appearance: none;
  background: #fff;
  box-shadow: 0px 1px 4px 0px inset rgba(14, 14, 14, .0901960784);
  border-color: rgba(14, 14, 14, .1803921569);
  border-right-color: rgba(14, 14, 14, 0.18);
  border-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-right-width: 1px;
  border-radius: 6px;
  color: #222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  outline: 3px solid rgba(0, 0, 0, 0);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  min-width: 0;
  border-radius: 96px;
  padding-left: 18px;
  border-right: 0;
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
