.topnav-df5 {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px;
  background-color: white;
}



.topnav-pn1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding: 0px 20px;
}

.topnav-po9 {
  display: flex;
  align-items: center;
}

.topnav-jk9 {
  font-size: 18px;
  font-weight: bold;
}

.topnav-ly8 {

    all: unset;
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF385C;
    color: white;
    border: 1px solid #FF385C;
    padding: 5px 8px;
    border-radius: 12px;
}

.topnav-ly8:active {
transform: scale(1.06);

}

.topnav-lb9 {
  all: unset;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.topnav-ek4 {
height: 40px;
width: 40px;
}

@media only screen
and (min-width : 768px) {
  .topnav-df5 {
    height: 70px;
  }
  .topnav-ek4 {
  height: 45px;
  width: 45px;
  }
  .topnav-jk9 {
    font-size: 20px;
  }
}
