.footer-1fa {
  position: relative !important;
  background-color: rgb(247, 247, 247) !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
}

.footer-1s9 {
	margin: 0px auto !important;
	max-width: 1280px !important;
	padding: 32px 24px !important;
}


.footer-fyx {
  display: flex !important;
  flex-direction: column !important;
padding-bottom: 20px !important;
}

.footer-x6q {
  color: rgb(34, 34, 34) !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 800 !important;
}

.footer-otc {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: unset !important;
  font-weight: unset !important;
}

.footer-yuo {
  list-style: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.footer-wmu {
  margin-top: 12px !important;
}

.footer-1l3:not(:last-child) {
  padding-bottom: 24px !important;
  margin-bottom: 24px !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.footer-1e6 {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-feature-settings: inherit !important;
  font-variant: inherit !important;
  text-decoration: none !important;
  color: #222222 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  outline: none !important;
}



@media (min-width: 768px) {
  .footer-wmu {
    flex-basis: 33.3333% !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .footer-yuo {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }

}

.footer-1fa {
	position: relative !important;
	background-color: rgb(247, 247, 247) !important;
	border-top: 1px solid rgb(221, 221, 221) !important;
}

@media (min-width: 1128px) {
  .footer-wmu {
    margin-top: 16px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .footer-yuo {
    display: block !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .footer-fyx {
    flex-direction: row !important;
    padding-top: 48px !important;
    padding-bottom: 30px !important;
  }

  .footer-1l3 {
    flex: 1 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .footer-1l3:not(:last-child) {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: 0px none !important;
  }
}
