.cezhrh0[class][class] {
	opacity: 1;
}

.copf0za_loader[class][class] {
	display: grid;
	grid-auto-flow: column;
	gap: 16px;
}

._1b2klj3_loader {
	-moz-box-pack: center;
	-moz-box-align: end;
	align-items: flex-end;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0px 12px;
	padding: 0px;
	transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

._1k9ksvh_loader {
	background: black;
	border-radius: 50%;
	height: 8px;
	margin-left: 3px;
	margin-right: 3px;
	min-width: 8px;
	opacity: 1;
	transition: transform 0.4s linear 0s;
	width: 8px;
}
