

.results-list-yt6 {
	margin-top: 85px;
	position: static;
	top: var(--navigation-bar-offset,80px);
	z-index: 1;
  background-color: #FFFFFF;
  padding-inline-start: 24px;
padding-inline-end: 24px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 600;
color: black;
}

.results-list-kb8 {
	background-color: #DDDDDD;
	color: #DDDDDD;
	border-radius: 6px;
}

.results-list-lq1 {
margin-top: 0px;
margin-bottom: 32px;
display: grid;
grid-template-columns: repeat(1,minmax(0,1fr)) ;
gap: 15px;
min-height: 100vh
}

@media (min-width: 768px) {
	.results-list-yt6 {
		position: sticky;
		justify-content: flex-start;
		margin-top: 0px;
	}
	.results-list-lq1 {
	margin-top: 85px;
	}
}



@media (min-width: 550px) {
	.results-list-lq1 {

	grid-template-columns: repeat(2,minmax(0,1fr)) ;

	}
}

@media (min-width: 1880px) {
	.results-list-lq1 {

	grid-template-columns: repeat(3,minmax(0,1fr)) ;

	}
}

.results-list-na8 {
	margin-left: 24px;
margin-right: 24px;
}
