/* pill marker */

.t5u4927[class][class] {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}

.results-map-ab1 {
  font-size: 22px;
  color: red;
  z-index: 150;
}

.results-map-hy6 {
  	position: relative;
    	border-radius: 12px;
      	position: relative;
        	background-color: #FFFFFF;
          padding: 16px;
          color: black;
          font-size: 15px;
}

.results-map-tw2 {
	display: flex;
	flex: 1 0 100%;
	flex-direction: column-reverse;
}

.results-map-g1d {
	padding: 16px;
  font-size: 15px;
  line-height: 19px;
  display: grid;
  gap: 4px;
  grid-template-columns: minmax(0,1fr) max-content;
}





.ind-list-item-la6 {
  cursor: pointer;
}

.ind-list-item-pq1 {
  display: flex;
  justify-content: space-between;
}

.ind-list-item-gd5 {
  margin-top: 12px;
}

.ind-list-item-lq2 {
  text-overflow: ellipsis;
  color: #222222;
  font-weight: 600;
  flex-grow: 1;
}

.ind-list-item-oa3 {
  background-color: #DDDDDD;
  color: #DDDDDD;
  border-radius: 6px;
}

.ind-list-item-hg3 {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  line-height: 20px;
}

.ind-list-item-ma1 {
  margin-left: 6px;
}

.ind-list-item-te8 {
  display: inline-block;
  margin-bottom: 6px;
  color: #222222;
  font-weight: 300;
  line-height: 20px;
}

.text-loading {
  background-color: #DDDDDD;
  color: #DDDDDD;
  border-radius: 6px;
}

.ind-list-item-al5 {
  font-weight: 600;
}
