
._q1ewc8l {
	background-color: #FF385C !important;
}

._q1ewc8l::before {
	background: #FF385C !important;
	inset: 0px !important;
	content: "" !important;
	position: absolute !important;
	will-change: opacity !important;
	z-index: 0 !important;
	opacity: 0 !important;
}

._q1ewc8l::-moz-focus-inner {
	border: medium none !important;
	padding: 0px !important;
	margin: 0px !important;
}

._186q534 {
	display: inline-flex !important;
	padding: 16px !important;
	position: relative !important;
	z-index: 1 !important;
}

/* search results container - large */

.k3s7ijn[class][class] {
	display: flex;
	min-width: 312px;
	box-sizing: border-box;
}

.dir.k3s7ijn[class][class] {
	padding: 16px 8px 24px;
	margin: 0 -32px -8px;
}

._uzocf2 {
	cursor: pointer !important;
	list-style-type: none !important;
	width: 100% !important;
	display: flex !important;
	padding: 8px 32px 8px 24px !important;
}

._uzocf2 {
	cursor: pointer !important;
	list-style-type: none !important;
	width: 100% !important;
	display: flex !important;
	padding: 8px 24px 8px 24px !important;
	box-sizing: border-box;
}

._uzocf2:hover {
background-color: #f7f7f7;
border-color: #f7f7f7;
}

._1825a1k {
	-moz-box-pack: center !important;
	-moz-box-direction: normal !important;
	-moz-box-orient: vertical !important;
	width: 100% !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

._r1t6ga {
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 500 !important;
	color: rgb(34, 34, 34) !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 6 !important;
	-moz-box-orient: vertical !important;
}

._r1t6ga {
	overflow: clip !important;
}





@media (min-width: 950px) {
._dd55nf9 {
	flex: 1.5 0 !important;
}

.kyy9mvs[class][class] {
width: 100%;
}
}
