/* bottom layer swipeable image grid */
.swipeable-gallery-cw9 {
  aspect-ratio: 4/3;
  height: 100%;
}

.swipeable-gallery-c14 {
  /* not usre why this is here - is necessary to display image */
  contain: size layout style paint;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 100%;
  overflow: visible hidden;
  overscroll-behavior-inline: none;
  scrollbar-width: none;
  touch-action: pan-x pan-y pinch-zoom;
  scroll-snap-type: inline mandatory;
}

.swipeable-gallery-rfe {
  object-fit: cover;
  aspect-ratio: 4/3;
  object-position: center;
  vertical-align: center;
  display: block;
  color: transparent;
  z-index: -100;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.swipeable-gallery-tz4 {
  position: relative;
  height: 100%;
  width: 100%;
}

.swipeable-gallery-uc3 {
  display: block;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/3;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* CHEVRON BUTTONS */
/* chevron button row container */
.swipeable-gallery-m1d {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

/* chevron button outer container LHS */
.swipeable-gallery-m1t {
  justify-self: flex-start;
}

/* chevron button outer container RHS */
.swipeable-gallery-ms8 {
  justify-self: flex-end;
}

/* chevron button styling */
.swipeable-gallery-1d3 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.9);
}

/* chevron button styling - hover */
.swipeable-gallery-1d3:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px;
  transform: scale(1.04);
}

/* chevron SVG styling */
.swipeable-gallery-cl1 {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

/* GALLERY CONTAINERS */
.swipeable-gallery-cw9 {
  height: 100%;
  aspect-ratio: 4 / 3;
}

/* inner scroll container */
.swipeable-gallery-c14w {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 100%;
  overflow: visible hidden;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-start: unset;
  padding-block-end: unset;
  overscroll-behavior-inline: none;
  scrollbar-width: none;
  touch-action: pan-x pan-y pinch-zoom;
  margin: 0px;
  scroll-snap-type: inline mandatory;
}

.swipeable-gallery-c14w::-webkit-scrollbar {
  display: none;
}

/* PROGRESS DOTS */
.swipeable-gallery-b1t {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, auto));
}

.swipeable-gallery-byc {
  justify-self: start;
}

.swipeable-gallery-bal {
  justify-self: center;
}

.swipeable-gallery-b18 {
  justify-self: end;
}

.swipeable-gallery-r75 {
  display: flex;
  justify-content: center;
  height: 100%;
}

.swipeable-gallery-szn {
  display: flex;
  overflow: clip;
  padding-bottom: 12px;
  max-width: 55px;
}

.swipeable-gallery-1k9 {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 50%;
  height: 6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  min-width: 6px;
  opacity: 0.6;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  width: 6px;
}

.swipeable-gallery-4o7 {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 50%;
  height: 6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  min-width: 6px;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  width: 6px;
  opacity: 1;
}

.swipeable-gallery-1b2 {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

/* overlay container */
.swipeable-gallery-o1q {
  display: flex;
  flex-flow: column;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 12px 0px 12px;
  background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
}

.swipeable-gallery-o1q>* {
  flex: 1 0;
}

.swipeable-gallery-c14d {
  mask-image: -webkit-radial-gradient(white, black);
  position: relative;
  border-radius: 12px;
  background-color: #DDDDDD;
}

.s134m7bb[class][class] {
  pointer-events: auto;
}

.s1tdgjmu[class][class] {
  visibility: hidden;
}

.sqd06yw[class][class] {
  opacity: 0;
}
