

.product-details-gf2 {
  all: unset;
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin: 15px 0;
}

.product-details-zu7 {
	all: unset;
  display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
  margin: 15px 0;
}

.product-details-gw6 {
  all: unset;
  display: block;
  margin: 15px 0;
}

.product-details-ds3 {
  all: unset;
  display: block;
  font-size: 16px;
  line-height: 26px;
}
