.product-summary-dh2 {
  all: unset;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.product-summary-lk1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.product-summary-zu7 {
  all: unset;
  margin-top: 6px;
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
