.product-options-yw2 {
  width: 100%;
}

.product-options-yw2.large-view {
  margin-top: 0px;
}

.product-options-ne9 {
  margin-top: 15px;
}

.product-options-wy9 {
  margin-top: 25px;
}

.product-options-cv2 {
  margin-top: 25px;
}
