.spinner {
position: absolute;
 border: 3px solid #f3f3f3;
 border-top: 3px solid #DC0F63;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 animation: spin 2s linear infinite;
}

.spinner.hidden {
  visibility: hidden;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.action-button-qqb {
	cursor: pointer !important;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	margin: 0px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	touch-action: manipulation !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
	outline: currentcolor none medium !important;
	padding: 12px 24px !important;
	transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s, transform 0.1s ease 0s !important;
	border: medium none !important;
	background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	color: rgb(255, 255, 255) !important;
	width: 100% !important;
}

.action-button-qqb.narrow {
	padding: 12px 14px !important;
}

.action-button-qqb:active {
	transform: scale(0.96) !important;
	border: medium none !important;
	background: rgb(255, 56, 92) !important;
	color: rgb(255, 255, 255) !important;
}

.action-button-sk4 {
	line-height: 20px;
}

.action-button-sk4.hidden {
	visibility: hidden;
}
