.date-input-js1 {
  all: unset;
  font-size: 22px;
  font-weight: 600;

}

.date-input-ew3 {
  padding-bottom: 8px;
}

.date-input-s1b {
  color: rgb(113, 113, 113);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
  padding-bottom: 12px;
}
