.description-uy5 {
  line-height: 24px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
-moz-box-orient: vertical;
}

.description-s1i {
  margin-top: 16px;
}

.description-b1k {
  all: unset;
  font-size: 16px;
font-weight: 600;
cursor: pointer;
}

.description-c1d {
  display: inline-flex;
vertical-align: bottom;
flex-direction: row;
align-items: center;
}

.description-tuk {
  margin-left: 4px;
}

.description-bs4 {
  margin-left: 4px;
}

.description-op2 {
  height: 12px;
width: 12px;
display: block;
fill: rgb(34, 34, 34);
}

.description-1di {
	color: #222222 !important;
	font-weight: 600 !important;
	margin-bottom: 16px !important;
} 
