.floating-searchbox-ud8 {
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
  margin-top: 48px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

}

.floating-searchbox-c7v {
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
	align-items: baseline !important;
	margin-bottom: 24px !important;
}

.floating-searchbox-ati {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start;
}

.floating-searchbox-14y {
	font-size: 16px;
	line-height: 20px;
	overflow: initial;
	white-space: inherit;
}

.floating-searchbox-1cr {
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	font-size: 22px;
}

.floating-searchbox-1jo {
	color: black !important;
	display: flex !important;
	font-weight: 400 !important;
	align-items: baseline !important;

}

.floating-searchbox-tyx {
	font-size: 22px;
	line-height: 26px;
	font-weight: 800;
}

.floating-searchbox-r1n {
	white-space: nowrap !important;
	font-weight: 400 !important;
	font-size: 14px;
	line-height: 18px;
	min-width: initial;
	overflow: initial;
	text-overflow: initial;
}

.floating-searchbox-p03 {
	margin-bottom: 16px !important;
	position: relative;
}

.floating-searchbox-cx1 {
	position: relative;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
}

.floating-searchbox-jro {
	display: flex !important;
	width: 100% !important;
	position: relative !important;
}

.floating-searchbox-16l {
	position: relative !important;
	display: flex !important;
	width: 100% !important;
	margin: 0px !important;
	border: medium none transparent !important;
	color: black !important;
	background-color: transparent !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	cursor: pointer !important;
	padding: 0px !important;
	text-align: left !important;
}

.floating-searchbox-19y {
	position: relative !important;
	flex: 1 1 !important;
	padding: 0px !important;
	overflow: hidden !important;
}

.floating-searchbox-7eq {
	position: absolute !important;
	top: 12px !important;
	left: 12px !important;
	right: 12px !important;
	margin: 0px !important;
	padding: 0px !important;
	pointer-events: none !important;
	font-size: 10px !important;
	line-height: 12px !important;
	color: rgb(34, 34, 34) !important;
	text-transform: uppercase !important;
	font-weight: 800 !important;
	max-width: 100% !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.floating-searchbox-mgs {
	min-height: 56px !important;
	width: 100% !important;
	border: medium none !important;
	outline: none !important;
	margin: 0px !important;
	padding: 26px 12px 10px !important;
	background-color: transparent !important;
	font-family: inherit !important;
	font-size: 14px !important;
	font-weight: inherit !important;
	line-height: 18px !important;
	appearance: none !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.floating-searchbox-mgs.light-text {
	color: rgb(113, 113, 113) !important;
}

.floating-searchbox-48v {
	position: relative !important;
	flex: 1 1 !important;
	padding: 0px !important;
	overflow: hidden !important;
	border-left: 1px solid rgb(176, 176, 176) !important;
}

.floating-searchbox-t26 {
	inset: 0px 0px -1px;
border-radius: 8px 8px 0px 0px;
border-top-color: rgb(176, 176, 176);
border-right-color: rgb(176, 176, 176);
border-bottom-color: rgb(176, 176, 176);
border-left-color: rgb(176, 176, 176);
border-width: 1px;
z-index: 1;
	position: absolute !important;
	pointer-events: none !important;
	border-style: solid !important;
}

.floating-searchbox-t26.bottom {
border-radius: 0px 0px 8px 8px;

}

.floating-searchbox-1gp {
	position: relative !important;
	display: flex !important;
	width: 100% !important;
	margin: 0px !important;
	border: medium none transparent !important;
	color: rgb(34, 34, 34) !important;
	background-color: transparent !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
	outline: currentcolor none 0px !important;
}

.floating-searchbox-13k {
	position: relative !important;
	flex: 1 1 auto !important;
	padding: 0px !important;
	width: 100% !important;
	overflow: hidden !important;
}

.floating-searchbox-1ek {
	min-height: 56px !important;
	width: 100% !important;
	border: medium none !important;
	outline: currentcolor none medium !important;
	margin: 0px !important;
	padding: 26px 36px 10px 12px !important;
	background-color: transparent !important;
	color: inherit !important;
	font-family: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	appearance: none !important;
	cursor: pointer !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.floating-searchbox-1ir {
	font-size: 14px !important;
	line-height: 18px !important;
}

.floating-searchbox-lmi {
	position: absolute !important;
	right: 0px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 100% !important;
	max-width: 50% !important;
	min-width: 36px !important;
	padding-right: 12px !important;
	pointer-events: none !important;
	color: rgb(34, 34, 34) !important;
}

.floating-searchbox-ks2 {
	display: block;
	fill: none;
	height: 16px;
	width: 16px;
	stroke: currentcolor;
	stroke-width: 4px;
	overflow: visible;
}

.floating-searchbox-qqb {
	cursor: pointer !important;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	margin: 0px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	touch-action: manipulation !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
	outline: currentcolor none medium !important;
	padding: 14px 24px !important;
	transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s, transform 0.1s ease 0s !important;
	border: medium none !important;
	background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	color: rgb(255, 255, 255) !important;
	width: 100% !important;
}

.floating-searchbox-qqb:active {
	transform: scale(0.96) !important;
	border: medium none !important;
	background: rgb(255, 56, 92) !important;
	color: rgb(255, 255, 255) !important;
}

.floating-searchbox-1wp {
	font-size: 16px !important;
	line-height: 20px !important;
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	white-space: normal !important;
	margin-top: 24px !important;
}

.floating-searchbox-1em {
	font-size: 14px !important;
	line-height: 18px !important;
	color: rgb(113, 113, 113) !important;
	font-weight: 400 !important;
	border-top: 1px solid rgb(221, 221, 221) !important;
	margin-top: 24px !important;
	padding-top: 24px !important;
}

.floating-searchbox-1fp {
	font-size: 16px !important;
	line-height: 20px !important;
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	padding-top: 16px !important;
	display: flex !important;
	flex-wrap: nowrap !important;
	justify-content: space-between !important;
}

.floating-searchbox-1fp.bold {
	font-weight: 600 !important;
}

.floating-searchbox-1fp:first-child {
	padding-top: 0px !important;
}

.floating-searchbox-18x {
	order: 1 !important;
}

.floating-searchbox-1k4 {
	order: 2 !important;
	white-space: nowrap !important;
}

.floating-searchbox-10d {
	display: inline-flex !important;
	position: relative !important;
}

.floating-searchbox-m6l {
	color: rgb(34, 34, 34) !important;
	text-align: left !important;
}
