/* small view - START */

.hotel-page-rt7 {
	position: relative !important;
	z-index: 0 !important;
	min-height: 100vh !important;
	padding-bottom: 60px;  
}

.hotel-page-pa6 {
  display: flex;

}

.hotel-page-zn8 {
  padding: 0 24px;
  display: flex !important;
align-items: stretch !important;
justify-content: flex-start !important;
flex-wrap: wrap !important;
width: 100% !important;
}

@media (min-width: 768px) {
	.hotel-page-zn8 {
	  padding: 0;

	}
}

.hotel-page-zn9 {
  padding:  24px 0;
  width: 100%;
}

.hotel-page-cd3 {
  	border-top-width: 1px !important;
  	border-top-style: solid !important;
    border-top-color: rgb(221, 221, 221);
    width: 100%;
    padding: 0 24px;

}

.hotel-page-js1 {
  all: unset;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 24px
}

.hotel-page-ew3 {
  padding-bottom: 25px;
}

/* small view - END */

/* large view - START */

.hotel-page-16g {
	position: relative !important;
	min-height: calc(100vh - 70px) !important;
	max-width: 1280px;
margin: 0px auto !important;
padding: 0px 24px;
}

.hotel-page-12n {
	display: flex !important;
	align-items: stretch !important;
	justify-content: flex-start !important;
	flex-wrap: wrap !important;
	width: 100% !important;
}

.hotel-page-16e {
	position: relative !important;
	width: 58.3333% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;

}

.hotel-page-1s2 {
	position: relative !important;
	width: 33.3333% !important;
	margin-left: 8.33333% !important;
	margin-right: 0% !important;
}

.hotel-page-mub {
	position: sticky !important;
	top: 80px !important;
	z-index: 1 !important;
	width: 100% !important;
	display: inline-block !important;
	padding-right: 1px !important;
	padding-bottom: 20px;
}



/* large view - END */
