.summary-jh5 {
  all: unset;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.summary-ie6 {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 8px !important;
  align-items: center;
  line-height: 20px;
}

.summary-gh4 {
  display: block;
  height: 14px;
  width: 14px;
  fill: currentcolor;
}

.summary-yu4 {
  all: unset;
  cursor: pointer;
  margin-top: 4px !important;
align-items: center !important;
display: inline-flex !important;
font-weight: 600;
}

.summary-sd3 {
	align-items: center !important;
	display: inline-flex !important;
	margin-right: 4px !important;
	min-width: 14px !important;

}

.summary-oo7 {

font-weight: 400 !important;
margin: 4px 8px 0px 8px !important;
}
