/* COMPONENT - rangeSlider.js */

/* outer container */
.rangeslider-dx3 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* outer container 2 - sets content width */
.rangeslider-hy5 {
  display: flex;
  justify-content: center;
  max-width: 992px;
  padding: 20px 30px;
  width: 100%;
}

/* all sliders container */
.rangeslider-ns6 {
  width: 100%;
}

/* narrow sliders container */
.rangeslider-wr4 {
  max-width: 500px;
  margin:auto;
}

/* slider header */
.rangeSlider-kz1 {
  text-align: center;
  color: #838383;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0px;
}

/* COMPONENT - simpleSlider.js */

/* slider track container */
.rangeslider-hc7 {
  margin: auto;
  width: 100%;
  margin: 60px 0px;
}

/* slider track */
.rangeslider-ty3 {
  background-color: #3880FF;
  opacity: 0.2;
  position: relative;
  border-radius: 2px;
  height: 3px;
  top: 0px;
  width: 100%;
}

/* slider track - wide */
.rangeslider-ty3.wide {
  height: 5px;
}

/* active (highlighted) slider track */
.rangeslider-vs7 {
  background-color: #3880FF;
  position: absolute;
  height: 3px;
  top: 0px;
}

/* active (highlighted) slider track wide */
.rangeslider-vs7.wide {
  height: 5px;
}

/* button container */
.rangeslider-af3 {
  height: 15px;
  top: -9px;
  left: -2px;
  bottom: 4px;
  width: 100%;
  position: absolute;
}

/* track + handle container */
.rangeslider-jn7 {
  position: relative;
  overflow: visible;
  padding: 13px 0px;
}

/* COMPONENT - discreteSlider.js */

/* dot marker for discrete slider position on track (set off by default) */
.rangeslider-hn2 {
  position: absolute;
background-color: black;
left: 10%;
width: 3px;
height: 3px;
border-radius: 3px;
z-index: 2;
bottom: 1px;
}

/* dot marker for discrete slider position on track turned on (black) */
.rangeslider-hn2.on {
background-color: white;
}

/* COMPONENT - distributionSlider.js */

/* distribution bar chart container */
.rangeslider-1da {
  -moz-box-align: end;
  -moz-box-pack: justify;
  position: relative;
  top: 6px;
  margin: 24px 2px 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* single bar (for chart) - active bar */
.rangeslider-fi6 {
  display: inline-block;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  flex: 1 1 0%;
  margin-right: 1px;
    background-color: #3880FF;
      opacity: 1;
}

/* single bar (for chart) - inactive bar */
.rangeslider-fi6.off {
  opacity: 0.2;
}

/* COMPONENT - sliderButton.js */

/* rangreslider handle button */
.rangeslider-pu5 {
  width: 21px ;
  height: 21px ;
  padding: 1px 7px ;
  border-width: 2px ;
  border-style: solid ;
  border-color: #3880FF ;
  background-color: white ;
  border-radius: 21px ;
  outline: currentcolor none medium ;
  z-index: 2 ;
  margin-left: calc(21px / -2) ;
  /* top: calc(21px / -2 + 2px + 2px) ; */
}


/* rangreslider handle label - switched on */
.rangeslider-ja5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #909090;
  bottom: 30px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s;
}

/* rangreslider handle label - switched off */
.rangeslider-ja5.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}


@media only screen and (min-width : 768px) {

  /* outer container - increased top margin to accomodate nav */
  .rangeslider-dx3 {
    margin-top: 70px;
  }
  /* narrow sliders container */
  .rangeslider-wr4 {
    margin-bottom: 80px;
  }
  /* slider header */
  .rangeSlider-kz1 {
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0px;
  }
}
