.contact-button-hd4 {
  all: unset;
display: flex;
align-items: center;
padding: 8px 16px;
border-radius: 24px;
font-size: 14px;
background-color: rgba(14,14,14,.0901960784);
cursor: pointer;
text-decoration: none;
touch-action: manipulation;
user-select: none;
}

.contact-button-hd4:hover {

}

.contact-button-bd6 {
  margin-left: 2px;
  margin-right: 2px;
  font-weight: 500;
}

.contact-button-hd4:hover {
  transform: scale(1.02);
}



.contact-button-hd4:active {
	transform: scale(0.98);
	border: medium none;
	/* background: rgb(255, 56, 92);
	color: rgb(255, 255, 255); */
}

.contact-button-hd4:focus {
  border-color: #222;
/*  box-shadow: 0 0 0 2px #fff,0 0 0 4px #385CFF;

animation-name: pulse;
animation-duration: 300ms;
*/
}
