body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --shop-color-pink: #FF385C;
  --shop-color-blue: rgb(56,92,255);
}

*, ::before, ::after, body {
  box-sizing: border-box;
}

.shop-app-tr2 {
  margin-top: 60px;
  margin-bottom: 24px;
}

.shop-app-tv2 {
  position: relative;
  margin-bottom: 24px;
}

.shop-app-te2 {
padding: 12px 12px;
max-width: 1400px;
margin: 0 auto;
margin-bottom: 24px;
}

.shop-app-te2.large-view {
margin-bottom: 36px;
}

@media (min-width: 900px) {
  .shop-app-te2 {
  padding: 12px 24px;
  max-width: 1200px;
  }
}
