/* bottom layer swipeable image grid */
.swipeable-gallery-cw9 {
  aspect-ratio: 4/3;
  height: 100%;
}

.swipeable-gallery-c14 {
  /* not usre why this is here - is necessary to display image */
  contain: size layout style paint;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 100%;
  overflow: visible hidden;
  overscroll-behavior-inline: none;
  scrollbar-width: none;
  touch-action: pan-x pan-y pinch-zoom;
  scroll-snap-type: inline mandatory;
}

.swipeable-gallery-rfe {
	object-fit: cover;
	vertical-align: top;
  display: block;
  color: transparent;
  z-index: -100;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.swipeable-gallery-tz4 {
  position: relative;
	height: 100%;
}

.swipeable-gallery-uc3 {
	display: block;
	max-width: 100%;
	height: 100%;
 object-fit: cover; 
/* aspect-ratio: 4/3; */
}

/* CHEVRON BUTTONS */
/* chevron button row container */
.swipeable-gallery-m1d {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

/* chevron button outer container LHS */
.swipeable-gallery-m1t {
  justify-self: flex-start;
}

/* chevron button outer container RHS */
.swipeable-gallery-ms8 {
  justify-self: flex-end;
}

/* chevron button styling */
.swipeable-gallery-1d3 {
  /*	-moz-box-pack: center !important;
	-moz-box-align: center !important;

		outline: currentcolor none medium !important;




	margin: 0px !important;
	padding: 0px !important;
		appearance: none !important;



	cursor: pointer !important;
	touch-action: manipulation !important;

	background-clip: padding-box !important;

	transition: -ms-transform 0.25s ease 0s, transform 0.25s ease 0s, transform 0.25s ease 0s !important;

	overscroll-behavior-x: contain;
	touch-action: none;

*/
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: rgb(34, 34, 34) !important;
 background-color: rgba(255, 255, 255, 0.9) !important;

}

/* chevron button styling - hover */
.swipeable-gallery-1d3:hover {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  transform: scale(1.04) !important;
}

/* chevron SVG styling */
.swipeable-gallery-cl1 {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

/* GALLERY CONTAINERS */
.swipeable-gallery-cw9 {
  height: 100%;
  aspect-ratio: 4 / 3;
}

/* inner scroll container */
.swipeable-gallery-c14w {
  /*	contain: var(--contentscroller_contain);
	gap: var(--contentscroller_gap,16px);
	grid-template-rows: var(--contentscroller_rows,none);
	grid-template-areas: var(--contentscroller_areas,none);
	-moz-box-pack: start;
	justify-content: flex-start;
		min-height: var(--contentscroller_min-height);
			overflow: var(--contentscroller_overflow,auto hidden);
				overscroll-behavior-x: contain;
	scroll-padding-inline: var(--contentscroller_peek,32px);
				*/
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 100%;
  overflow: visible hidden;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-start: unset;
  padding-block-end: unset;
  overscroll-behavior-inline: none;
  scrollbar-width: none;
  touch-action: pan-x pan-y pinch-zoom;
  margin: 0px;
  scroll-snap-type: inline mandatory;
}

.swipeable-gallery-c14w::-webkit-scrollbar {
 display: none;
}

/* PROGRESS DOTS */
.swipeable-gallery-b1t {
  /*	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;*/
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, auto));
}

.swipeable-gallery-byc {
  justify-self: start;
}

.swipeable-gallery-bal {
  justify-self: center;
}

.swipeable-gallery-b18 {
  justify-self: end;
}

.swipeable-gallery-r75 {
  /*
	-moz-box-pack: center !important;
	-moz-box-align: end !important;

	align-items: flex-end !important;


	*/
  display: flex;
  justify-content: center;
  height: 100%;
}

.swipeable-gallery-szn {
  /*

					overflow: hidden;

	*/
  display: flex;
  overflow: clip;
  padding-bottom: 12px;
  max-width: 55px;
}

.swipeable-gallery-1k9 {
background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  opacity: 0.6 !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
}

.swipeable-gallery-4o7 {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
  opacity: 1 !important;
}

.swipeable-gallery-1b2 {
  /*
	-moz-box-pack: center !important;
	-moz-box-align: end !important;

	list-style-type: none !important;
	margin: 0px !important;
	padding: 0px !important;

		*/
  align-items: flex-end !important;
  display: flex !important;
  justify-content: center !important;
  transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}

/* overlay container */
.swipeable-gallery-o1q {
  /*	overflow: hidden;
				flex: 1 1;

			 */
  display: flex;
  flex-flow: column;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 12px 0px 12px;
background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));

}

.swipeable-gallery-o1q>* {
  flex: 1 0;
}

.swipeable-gallery-c14d {
  /*
	overflow: clip;
	overflow: hidden;
	*/
  mask-image: -webkit-radial-gradient(white, black);
  position: relative;
  border-radius: 12px;

  background-color: #DDDDDD;

}

.s134m7bb[class][class] {
	pointer-events: auto;
}

.s1tdgjmu[class][class] {
	visibility: hidden;
}
