.cross_button_10r {
  background-color: #797979;
  display: inline-block;
  position: relative;
  padding: 5px;
  border: 0px none;
  color: #FFFFFF;
  transition: -ms-transform 0.25s ease 0s, transform 0.25s ease 0s, transform 0.25s ease 0s;
  outline: currentcolor none 0px;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 50%;
}

.cross_button_10r:hover {
  background-color: #9f9f9f;
}

.cross_button_fa3 {
	display: block;
	fill: none;
	height: 10px;
	width: 10px;
	stroke: currentcolor;
	stroke-width: 5px;
	overflow: visible;
}
