*, ::before, ::after {
  box-sizing: border-box;
}

/* transparent backdrop which closes dropdown when clicked (and also prevents elements underneath being clicked when dropdown is active)  */
.search-map-nav-mm2 {
  position: fixed;
  width: 100vw;
  height: calc(100vh - var(--navigation-bar-offset));
  left: 0;
  top: var(--navigation-bar-offset);
  background-color: transparent;
}

/* fix for scroll bounce on firefox iOS -  white block added at top of page to prevent overscroll showing overflow content underneath  */
.search-map-nav-cc7 {
  position: fixed;
  top: -100px;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  z-index: 10;
}

/* header outer container */
.search-map-nav-h1v {
  position: fixed;
  top: 0px;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 10;
  height: var(--navigation-bar-offset);
  padding: 0px 24px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  align-items: center;
  display: flex;
  overscroll-behavior: none;
}



.search-map-nav-h1v.hotel-page {
  position: static;
  height: 70px;
  margin: 0px auto !important;
}

.search-map-nav-4dr {

  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto !important;

  align-items: center;
  display: flex;

}

/* lhs content container */
.search-map-nav-c1x {
  flex: 1 0 140px;
}

/* site name link wrapper */
.search-map-nav-jk9 {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* middle content (search nav) container */
.search-map-nav-c7e {
  flex: 0 1 auto;
  padding: 0 24px;
}

/* lhs content container */
.search-map-nav-c1kb {
  flex: 1 0 140px;
  display: flex;
  justify-content: flex-end;
}

/* "item info" button */
.search-map-nav-ly8 {
  all: unset;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #FF385C;
  color: white;
  border: 1px solid #FF385C;
  padding: 5px 8px;
  border-radius: 12px;
}

/* SEARCH NAV - START */
.search-map-nav-1bu {
  display: flex;
  position: relative;
}

.search-map-nav-pl4 {
  height: 56px;
  width: 320px;
  border-radius: 500px;
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  position: relative;
}

.search-map-nav-snp {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
}

/* country input container */
.search-map-nav-hd6 {
  border: 1px solid #DDDDDD;
  width: 250px;
  border-radius: 500px 0px 0px 500px;
  display: flex;
  align-items: center;
  position: relative;
}

/* search button */
.search-map-nav-1yi {
  display: block;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #222222;
  text-overflow: ellipsis;
  cursor: pointer;
}

.search-map-nav-1yi:focus {
  outline: currentcolor none medium;
}

.search-map-nav-1yi::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  opacity: 0.7;
}

.search-map-nav-186 {
  display: inline-flex;
  padding: 16px;
}

.search-map-nav-18z {}

.search-map-nav-q1e {
  border: 0px none;
  color: #FFFFFF;
  padding: 0px;
  border-radius: 0px 500px 500px 0px;
  height: 56px;
  width: 44px;
  background-color: var(--site-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-map-nav-sd3 {
  height: 56px;
  width: 100%;
  border-radius: 500px;
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* nav LHS container - small view */
.search-map-nav-ie1 {
  flex: 1 0;
  padding-left: 24px;
  position: relative;
  display: flex;
  align-items: center;
}

/* nav LHS container - large view */
.search-map-nav-ga1 {
  flex: 1 0;
  padding: 10px 38px 10px 24px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-map-nav-ll9 {
  flex: 0 1;
}

.search-map-nav-ah2 {
  color: #FFFFFF;
  border-radius: 0px 500px 500px 0px;
  height: 56px;
  width: 44px;
  background-color: #FF385C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-map-nav-ah3 {
  color: #FFFFFF;
  border-radius: 500px 0px 0px 500px;
  height: 56px;
  width: 44px;
  background-color: #FF385C;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* placeholder text in small view mock text input */
.search-map-nav-ds1 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  opacity: 0.7;
}

.h1vnkd0i[class][class] {
  background-color: #fff;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.search-map-nav-gs1 {
  z-index: 100;
  position: absolute;
  right: 0;
  padding-right: 14px;
}

.search-map-nav-gs2 {
  position: absolute;
  right: 0;
  display: none;
  padding-right: 14px;
}

.search-map-nav-f6t {
  cursor: pointer;
}

/* DROPDOWN - START */
.search-map-nav-xhc {
  position: absolute;
  top: 100%;
  overflow-y: hidden;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  margin-top: 12px;
  width: 100%;
}

.search-map-nav-k3s {
  margin: 0 -32px -8px;
  padding: 16px 8px 24px;
}

/* poular locations text */
.search-map-nav-pa9 {
  padding: 0px 0px 16px 24px;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: grey;
}

/* poular locations text - modal */
.search-map-nav-de2 {
  padding: 6px 24px 24px 24px;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: grey;
}

.search-map-nav-uzo {
  display: flex;
  padding: 8px 24px 8px 24px;
}

.search-map-nav-uzo.highlighted {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.search-map-nav-uzo:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.search-map-nav-bi8 {
  background-color: rgb(235, 235, 235);
  border-radius: 12px;
  min-width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-map-nav-iu5 {
  display: block;
  height: 22px;
  width: 22px;
  fill: currentcolor;
}

.search-map-nav-182 {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.search-map-nav-jp4 {
  width: 100%;
  display: flex;
  padding: 8px 24px 8px 24px;
}

.svg_search_lg {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.search-map-nav-ue3 {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 32px;
  overscroll-behavior-y: none;
}
