/* OUTER MODAL & CONTROLS - START */
/* modal backdrop - turn on */
.link-modal-jr6 {
  z-index: 2000;
  position: fixed;
  inset: 0px;
  overflow-y: auto;
  background: rgb(34, 34, 34) none repeat scroll 0% 0%;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_modal_backdrop_on;
  opacity: 0;
}

/* modal backdrop animation - turn on */
@keyframes keyframe_modal_backdrop_on {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

/* modal backdrop - turn off */
.link-modal-bm0 {
  z-index: 2000;
  position: fixed;
  inset: 0px;
  overflow-y: auto;
  background: rgb(34, 34, 34) none repeat scroll 0% 0%;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_modal_backdrop_off;
}

/* modal backdrop animation - turn off */
@keyframes keyframe_modal_backdrop_off {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

/* modal container - turn on */
.link-modal-pq2 {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_modal_on;
}

@media only screen and (min-width : 768px) {
  .link-modal-pq2 {
    width: 100%;
    max-width: 780px;
    border-radius: 12px;
  }
}

/* modal container animation - turn on */
@keyframes keyframe_modal_on {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* modal container - turn off */
.link-modal-lf8 {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_modal_off;
}

@media only screen and (min-width : 768px) {
  .link-modal-lf8 {
    width: 100%;
    max-width: 780px;
    border-radius: 12px;
  }
}

/* modal container animation - turn off */
@keyframes keyframe_modal_off {
  from {
    transform: translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* modal outer frame container */
.link-modal-ke7 {
  -moz-box-pack: center;
  -moz-box-align: end;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  z-index: 2000;
  position: fixed;
  inset: 0px;
  max-height: calc(var(--vh, 1vh) * 100);
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (min-width : 768px) {
  .link-modal-ke7 {
    -moz-box-align: center;
    padding: 40px;
    align-items: center;
  }
}

/* close button container */
.link-modal-pa3 {
  position: absolute;
  display: flex;
  top: 24px;
  left: 24px;
  z-index: 1;
}

/* close button */
.link-modal-oda {
  appearance: none;
  display: inline-block;
  border-radius: 50%;
  border: medium none;
  outline: currentcolor none medium;
  margin: 0px;
  padding: 0px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  touch-action: manipulation;
  position: relative;
  background: transparent none repeat scroll 0% 0%;
  transition: -ms-transform 0.25s ease 0s, transform 0.25s ease 0s, transform 0.25s ease 0s;
}

.link-modal-oda:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: rgb(221, 221, 221);
}

.link-modal-oda::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.link-modal-oda:disabled::before {
  background: transparent;
}

.link-modal-oda:hover::before {
  background: rgb(247, 247, 247);
}

/* close button svg wrapper */
.link-modal-e29 {
  position: relative;
}

/* close button svg  */
.link-modal-ka0 {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3px;
  overflow: visible;
}

/* OUTER MODAL & CONTROLS - END */
/* MODAL CONTENT - START */
.link-modal-z4l {
  display: contents;
}

/* header container */
.link-modal-sj7 {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  min-height: 64px;
}

/* header text */
.link-modal-lw2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* message container */
.link-modal-hs6 {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

/* MODAL CONTENT - END */
