/* outer container */
.portfolioitem-ie3 {
  all: unset;
  grid-column: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

<<<<<<< HEAD
/* outer container - standard pointer if render is for div (not button or link) */
=======
>>>>>>> adf875df92158750b667a3e300d8915afbdffb2d
.portfolioitem-ie3.auto-pointer {
  cursor: auto;
}

<<<<<<< HEAD
/* portfolio item image */
=======
>>>>>>> adf875df92158750b667a3e300d8915afbdffb2d
.portfolioitem-uc3 {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 4/3;
  display: block;
}

/* inner content container */
.portfolioitem-tz4 {
  position: relative;
}

/* item label (floats in top LHS) */
.portfolioitem-ja2 {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 3px;
  overflow: clip;
}
