/* outer container */
.portfoliolist-yu1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* outer container 2 - sets content width */
.portfoliolist-ap7 {
  width: 1880px;
  padding: 20px 20px;
}

/* grid container  */
.portfoliolist-pp6 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

@media only screen and (min-width : 768px) {

  /* grid container - 2 items per row */
  .portfoliolist-pp6 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* outer container - increased top margin to accomodate nav */
  .portfoliolist-yu1 {
    margin-top: 70px;
  }
}

@media only screen and (min-width : 1280px) {

  /* grid container - large view  */
  .portfoliolist-pp6 {
    grid-template-columns: repeat(3, 1fr);
  }
}
