/* outer container */
.portfolioitem-ie3 {
  all: unset;
  grid-column: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
 box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
/*  border: 1px solid #DDDDDD; */
background-color: #DDDDDD;
background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
background-color: #DDDDDD;
}

/*
.portfolioitem-ie3:hover {
 box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);

}
*/

/* outer container - standard pointer if render is for div (not button or link) */
.portfolioitem-ie3.auto-pointer {
  cursor: auto;
}

/* portfolio item image */
.portfolioitem-uc3 {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 4/3;
  display: block;
}

/* inner content container */
.portfolioitem-tz4 {
  position: relative;
}

/* item label (floats in top LHS) */
.portfolioitem-ja2 {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  top: 15px;
  left: 15px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 5px;
  overflow: clip;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
  /* border: 1px solid #DDDDDD; */
}

.portfolioitem-ja2.highlight {

   border: 1px solid #DDDDDD;
}
